{
  "semi": true,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/components$",
    "^@/components/*(.*)$",
    "^@/screens$",
    "^@/screens/*(.*)$",
    "^@/store/(.*)$",
    "^@/utils$",
    "^@/utils/(.*)$",
    "^@/types$",
    "^@/routes",
    "^@/assets/images/*(.*)$",
    "^@/assets/icons/*(.*)$",
    "^@/assets/styles/*(.*)$",
    "^./type$",
    "^[./]",
    "^./styles.scss$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
}
