@import 'src/assets/styles/helpers';


.header {
  @include flex($justify: space-between);
  padding: 48px 46px 0;
}

.header-left {
  @include flex($align: center);
  gap: 46px;

  &__item {
    position: relative;
    color: $light;
    font-weight: 600;
    font-size: 24px;
    text-decoration: none;
    @include transition;

    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: -14px;
      width: 100%;
      height: 4px;
      border-radius: 92px;
      background: $primary;
      opacity: 0;
      @include transition;
    }

    &.active {
      color: $primary;

      &::before {
        opacity: 1;
      }
    }
  }
}
